* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.skeleton {
    text-align: center;
    /* padding-top: 25vh; */
    text-decoration: none;
    font-family: 'Days One', sans-serif;
}

#name {
    font-size:4vh
}

#email {
    font-size:2vh;
    padding-bottom: 2%; 
}

.fa {
    padding: 2vh;;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.8;
  }

  .fa-instagram {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  .fa-github-square {
    background: #000000;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
section 
{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

section .wave 
{
    position: absolute;
    width: 100%;
    height: 141px;
    bottom: 0;
    left: 0;
    background: url(wave.png);
    animation: animate 10s linear infinite;
}
section .wave:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 141px;
    top: 0;
    left: 0;
    background: url(wave.png);
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}

section .wave:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 141px;
    top: 0;
    left: 0;
    background: url(wave.png);
    opacity: 0.4;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
}

section .wave2
{
    content: '';
    width: 100%;
    height: 141px;
    bottom: 0;
    left: 0;
    background: url(wave2.png);
    animation: animate 10s linear infinite;
}
section .wave2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 141px;
    top: 0;
    left: 0;
    background: url(wave2.png);
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}

section .wave2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 141px;
    top: 0;
    left: 0;
    background: url(wave2.png);
    opacity: 0.4;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 1360px;
    }
}

@keyframes animate-reverse
{
    0%
    {
        background-position: 1360px;
    }
    100%
    {
        background-position: 0;
    }
}

.wrapper { 
    height: 100%;
    width: 100%;
    background: #fc4e4e;
}


/* <<<<<<<<< RAINBOW BACKGROUND >>>>>>>> */

/* .wrapper { 
    height: 100%;
    width: 100%;
    background: #fc4e4e;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  } */


